@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,100,700');

*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  width: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'Dosis', sans-serif;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

.hero-section {
  width: 100%;
  background: url('./Images/slider-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 720px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  margin: 0 10px;
}

header a {
  font-weight: 700;
  color: #abb7c4;
  transition: .3s;
  font-size: 15px;
}

header a:hover {
  color: #DDF64A;
  transition: .3s;
}

.nav-login ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-login ul li {
  margin: 0 10px;
}

.nav-login ul li button {
  background-color: #dd003f;
  color: #fff;
  padding: 11px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: none;
  transition: .3s;
  border: none;
}

.nav-login ul li button:hover {
  cursor: pointer;
  color: #DDF64A;
  transition: .3s;
}

/* LOADER */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #06121E;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.l1 {
  height: 100px;
  width: 100px;
  border: 5px solid #DDF64A;
  border-radius: 50%;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  animation: loader 1s infinite;
}

.l2 {
  height: 50px;
  width: 50px;
  border: 5px solid #dd003f;
  border-top: none;
  border-left: none;
  border-radius: 50%;
  animation: loader 1s infinite;
}

/* TOP SEARCH */

.top-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  position: relative;
  margin-bottom: 70px;
  border: 5px solid #06121E;
}

.top-search input {
  background: #243A4F;
  border: none;
  width: 85%;
  padding: 15px 0;
  color: #ABB7C4;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  border-left: 1px solid #06121E;
}

.top-search select {
  background: #243A4F;
  border-right: 5px solid #06121E;
  border: 0;
  color: #efefef;
  appearance: none;
  border-radius: 0;
  padding: 15px 0;
  padding-left: 10px;
  width: 15%;
  font-size: 14px;
  outline: none;
  font-weight: 100;
}

.top-search .fa-search {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #ABBB;
  top: 25%;
}

.top-search .fa-angle-down {
  position: absolute;
  left: 150px;
  top: 32%;
  color: #ABBB;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ABBb;
    opacity: 1;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 100;
}
/* HERO SLIDER */

.hero-slider {
  width: 100%;
  margin: 0 auto;
}

.hero-slider .slick-dots {
  margin-bottom: -10px;
}

.slick-dots li button:before {
  color: white;
  opacity: 1;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #DDF64A;
  font-size: 12px;
  opacity: 1;
}

.movie-item {
  width: 275px;
  display: flex;
  position: relative;
  color: #fff;
  transition: .3s;
}

.movie-item:hover {
  color: #DDF64A;
  transition: .3s;
}

.movie-item h6 {
  font-size: 19px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.movie-rating {
  font-weight: 400;
  font-size: 18px;
}

.movie-item p {
  margin-top: 10px;
  color: white;
}

.movie-info {
  position: absolute;
  bottom: 33px;
  margin-left: 12%;
}

.fa-star {
  color: #F4B42D;
}

.movie-item .movie-img img {
  width: 100%;
}

/* DISCOVER SLIDER */

.discover-section {
  background: #020E18;
}

.inner-disc {
  width: 100%;
  height: auto;
  display: flex;
}

.slider-wrapper {
  width: 70%;
}

.discover-slider {
  width: 100%;
}

.discover-slider:first-of-type {
  margin-bottom: 60px;
}

.discover-slider .slick-slider {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.discover-slider .movie-item {
  width: 158px;
  height: 237px;
}

.discover-slider .slick-dots {
  margin-bottom: -10px;
}

.discover-slider h4 {
  font-size: 20px;
}

.discover-slider h6 {
  font-size: 14px;
}

.discover-slider .movie-info {
  font-size: 16px;
  bottom: 15px;
}

.disc-tabs ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 30px;
}

.disc-tabs ul li {
  color: #abb7c4;
  transition: .3s;
  margin-right: 25px;
}

.disc-tabs ul li:hover {
  transition: .3s;
  color: #DDF64A;
  cursor: pointer;
}

.disc-tabs .active {
  color: #DDF64A;
}

/* NEWS SECTION */

.news-section {
  width: 30%;
  margin-left: 60px;
}

.news-section h4 {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.news-section hr {
  border: .4px solid #415265;
}

.news-item {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

hr+ .news-item , hr+ .news-item img {
  margin-top: 10px;
}

.news-item:last-of-type {
  margin-bottom: 40px;
}

.news-img {
  width: 100%;
}

.news-img img {
  width: 100%;
}

.news-info div p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.news-info .auth-date {
  font-size: 12px;
  color: #abb7c4;
}

/* TRAILER SECTION */

.trailer-section {
  width: 100%;
  height: 600px;
  background: #06121E;
}
